requests
fastapi[all]
uvicorn[standard]
python-dotenv
watchtower
boto3
pytest
pytest-asyncio
sqlalchemy
python-json-logger
pymysql
DBUtils
passlib
bcrypt==4.0.1 # This is the version that works with passlib
pyjwt